.opener{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 60%;
  left: 40%;
  margin-top: 19rem;
  width: 30%;
  font-size: 2rem;
}

.test{
  margin-bottom: 50px;
}

:host ::ng-deep .sv_p_container{
  margin-bottom: 2rem;
}

:host ::ng-deep .test{
  margin-bottom: 2rem;
}
