<div class="row">
  <div style="text-align:center" class="col-12">
    <h1> PERFILES </h1>
  </div>
  <div class="col-12 col-md-4" *ngFor = "let user of users">
    <nb-card [ngClass] = "user.verified ? 'confirmed' : 'non'">
      <nb-card-header>
        <div class="row">
          <div class="col-8">
            <span class="reduced-size">
              <h5>{{user.username}}</h5>
              <h6 style="font-weight:400">{{user.type}}</h6>
            </span>
          </div>
          <div class="col-4">
            <nb-icon  style="font-size:2rem" value="verified" icon="close-outline"></nb-icon>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>
